{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block content %}
    <div class="limiter submit">
		<div class="container-login100">
            <div class="header-submit d-flex justify-content-center">
                <div class="text-container">
                    <h1 class="login100-form-title">Silahkan update info lombamu</h1>
                <p>Update yang bener ya, jangan spam dan bohong. Bohong itu tidak baik kami akan melakukan pemeriksaan mengenai lomba yang kamu pasang okay.</p>
                </div>
            </div>
			<div class="wrap-login100">
                <div class="content-section">
                    <form method="POST" enctype="multipart/form-data" class="login100-form">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.name == "image" %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                                {{ field|add_class:'form-control filestyle' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>  
                            {% endif %} 
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn-big" style="text-align: center;" type="submit">Submit</button>
                        </div>
                    </form>
                </div>                       
			</div>
		</div>
    </div>
{% endblock content %}